<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>TP2 - Annie Vu</title>
    <meta name="description" content="TP2 pour le cours de veille technologique">
    <meta name="author" content="Annie Vu">

    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <div class="container-fluid" style="margin-top: 10px">
        <!-- premiere rangee du tableau -->
        <div class="table-row header">
            <div class="texte">Nom</div>
            <div class="texte">Prénom</div>
            <div class="texte">Téléphone</div>
            <div class="texte">_id</div>
            <div class="symbole"></div>
            <div class="symbole"><img src="img/ajouter.svg"></div>
        </div>

        <!-- le contenu de la base de donnees qui est modifiable -->
        <% for(var i=0; i<adresse.length; i++) {%>
            <div class="table-row">
                <div class="texte" contenteditable='true'><%= adresse[i].nom%></div>
                <div class="texte" contenteditable='true'><%= adresse[i].prenom%></div>
                <div class="texte" contenteditable='true'><%= adresse[i].telephone%></div>
                <div class="texte"><%= adresse[i]._id%></div>
                <div class="symbole"><img src="img/sauvegarder.svg"></div>
                <div class="symbole"><img src="img/supprimer.svg"></div>
            </div>
        <% } %>
    </div>

    <script type="text/javascript" src="js/script.js"></script>
    
</body>
</html>